
.navigationMenu {
  display: flex;
  color: rgba(250, 250, 250, 1);
  font-size: 24px;
  user-select: none;
  margin: 20px 5% 50px;
  flex: 0;

  .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24px;

    *:not(:first-child) {
      margin-right: 34px;
    }
  }

  .login {
    &:hover {
      cursor: pointer;
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: flex-end;

    *:not(:first-child) {
      margin-left: 34px;
    }

    .nickname-block {
      display: flex;
      flex-direction: row;
      align-self: center;

      .info {
        display: flex;
        flex-direction: column;
        align-items: self-end;

        .user {
          color: #FAFAFA;
          text-align: right;
          font-family: Rubik;
          font-size: 2rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        .mmr {
          color: #FAFAFA;
          text-align: right;
          font-family: Rubik;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }

      .img {
        width: 48px;
        height: 48px;
        background-size: cover;
        border-radius: 50%;
        align-self: center;
      }
    }

  }

  a {
    text-decoration: none;
    color: rgba(250, 250, 250, 1);
  }

  .logo {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;

    span:first-child {
      width: max-content;

      &:before {
        content: '';
        background-color: white;
        display: flex;
        position: relative;
        height: 5px;
      }
    }
  }
}