.wrapper.page-missing {
  margin: 20px 5% 141px;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  align-items: center;

  .left {
    .label {
      color: #FAFAFA;
      font-family: Rubik;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    & {
      p {


        color: #A8A3AD;
        font-family: Rubik;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      .button {
        border-radius: 10px;
        background: #FAFAFA;
        width: 300px;
        height: 60px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: rgba(250, 250, 250, 0.70);
          cursor: pointer;
        }
      }

    }
  }

  .right {
    margin: 0 50px;
    display: flex;
    height: 100%;
    width: 100%;

    .not-found {
      max-width: 722px;
      background-repeat: no-repeat;
      background-image: url("/404.png");
      display: flex;
      height: 100%;
      width: 100%;
      background-size: contain;
      background-position: center;
    }


  }
}