.wrapper.profile {
  margin: 20px 5% 50px;
  display: flex;
  flex-direction: row;

  .user-info {
    display: flex;
    flex-direction: column;
    background: #FF4C50;

    .profile-image {
      width: 240px;
      height: 240px;
      display: flex;
    }

    .profile-statistics {
      border-radius: 10px;
      display: flex;
      flex: 1;
      flex-direction: column;
      color: #FAFAFA;

      padding: 20px;

      .info {
        p {
          margin: 0;
          padding: 0;

          &.username {
            font-size: 24px;
          }

          &.mmr {
            font-size: 16px;
          }
        }
      }

      .add-friend {
        margin-top: 14px;
        background-color: rgba(0, 0, 0, 0);

        input {
          border-radius: 10px;
          border: 1px solid #FAFAFA;
          background-color: rgba(0, 0, 0, 0);
          color: white;
          outline: none;
          padding: 8px;
          &::placeholder {
            font-size: 15px;
            opacity: 1;
            color: white;
          }
        }
      }
    }
  }
}